.info {
  list-style-type: circle;
  color: black;
}

table,
td {
  border: 1px solid;
  width: 5cm;
  text-align: center;
  color: black;
}

th {
  border: 1px solid;
  width: 5cm;
  text-align: center;
  background-color: rgb(168, 206, 168);
  color: black;
}
